html{
  scroll-behavior: smooth;
}
*{
  box-sizing: border-box;
}

body {
  background-color: #040714;
  color: #f9f9f9;
  font-family: Avenir-Roman,sans-serif;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top;
}

a{
  color:#f9f9f9;
  cursor: pointer;
  text-decoration: none;
}

@media only screen and (min-width:768px){
  body{
    font-size: 16px;
  }
}
@media only screen and (min-width:480px) and (max-width: 768px){
  body{
    font-size: 165x;
  }
}
@media only screen and (min-width:479px){
  body{
    font-size: 15px;
  }
}